* {
    box-sizing: border border-box;
}  

body {
	margin: 0;
	padding: 0;
    background-color: #CAD2C7;
}

header {
	background-color: #2F3D46;
	color: #fff;
	display: flex;
	align-items: center;
	padding: 20px;
}

.logo {
	margin-right: 20px;
}

.logo img {
	height: 50px;
}

.heading {
    padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}
.container0{
    margin-top: 50px;
    margin-left: 50px;
	width: 300px;
	height: 550px;
    border-radius: 20px;
	background-color: #353535;
}

.container0-1{
display: flex;
}

.manakatta{
    width: 60%;
}
 
section .container1{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: none;
    grid-gap: 30px;
    grid-auto-flow: column;
    width: 1000px;
	height: 50px;
    text-align: center;
}
section .container2{
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: none;
    grid-gap: 30px;
    grid-auto-flow: column;
    width: 1000px;
	height: 250px;
    text-align: center;
}

.search-box1{
    display: flex;
    align-items: center;
}

.search-box1 input[type="search"]{
    width: 1000px;
    height: 50px;
    padding: 15px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    background-color: #353535;
}

section .container3{
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: none;
    grid-gap: 10px;
    grid-auto-flow: column;
    width: 1000px;
	height: 185px;
    text-align: center;
}


section div .box0, .search-box1, .box2, .box3, .box4, .box5, .box6{
    border-radius: 20px;
    background-color: #353535;
}
